<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>WebLib</h1>
    <p><%= simple_format(@mail.body) %></p>
  </body>
</html>