<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>WebLib</h1>
    <p>Hi user.email,</p>
    <p>The following item is overdue on <%= @rental.rent_date %>:</p>
    <ul>
      <li><%= @item.title %></li>
    </ul>
    <p>Thanks for using WebLib!</p>
  </body>
</html>