<h1>Listing Authors</h1>

<table class="vertical-table">
  <tr>
    <th>Author</th>
    <th colspan="2">Action</th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= link_to author.given_name + ' ' + author.surname %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Author', new_author_path %>
