<h1>Listing Authors</h1>

<table class="vertical-table">
  <tr>
    <th>Author</th>
    <% if user_signed_in? and current_user.category > 0 %>
        <th colspan="2">Action</th>
    <% end %>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= link_to author.given_name + ' ' + author.surname, author %></td>
    <% if user_signed_in? and current_user.category > 0 %>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    <% end %>

  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? and current_user.category > 0 %>
    <%= link_to 'New Author', new_author_path %>
<% end %>